<%= form_for(@xucf_course) do |f| %>
  <% if @xucf_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_course.errors.count, "error") %> prohibited this xucf_course from being saved:</h2>

      <ul>
      <% @xucf_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xcf_no %><br>
    <%= f.text_field :xcf_no %>
  </div>
  <div class="field">
    <%= f.label :xcf_name %><br>
    <%= f.text_field :xcf_name %>
  </div>
  <div class="field">
    <%= f.label :xcf_hour %><br>
    <%= f.text_field :xcf_hour %>
  </div>
  <div class="field">
    <%= f.label :xcf_exam %><br>
    <%= f.check_box :xcf_exam %>
  </div>
  <div class="field">
    <%= f.label :xcf_credit %><br>
    <%= f.text_field :xcf_credit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
