<p id="notice"><%= notice %></p>

<h1>Listing Xucf Courses</h1>

<table>
  <thead>
    <tr>
      <th>Xcf no</th>
      <th>Xcf name</th>
      <th>Xcf hour</th>
      <th>Xcf exam</th>
      <th>Xcf credit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_courses.each do |xucf_course| %>
      <tr>
        <td><%= xucf_course.xcf_no %></td>
        <td><%= xucf_course.xcf_name %></td>
        <td><%= xucf_course.xcf_hour %></td>
        <td><%= xucf_course.xcf_exam %></td>
        <td><%= xucf_course.xcf_credit %></td>
        <td><%= link_to 'Show', xucf_course %></td>
        <td><%= link_to 'Edit', edit_xucf_course_path(xucf_course) %></td>
        <td><%= link_to 'Destroy', xucf_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf course', new_xucf_course_path %>
