<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf no:</strong>
  <%= @xucf_course.xcf_no %>
</p>

<p>
  <strong>Xcf name:</strong>
  <%= @xucf_course.xcf_name %>
</p>

<p>
  <strong>Xcf hour:</strong>
  <%= @xucf_course.xcf_hour %>
</p>

<p>
  <strong>Xcf exam:</strong>
  <%= @xucf_course.xcf_exam %>
</p>

<p>
  <strong>Xcf credit:</strong>
  <%= @xucf_course.xcf_credit %>
</p>

<%= link_to 'Edit', edit_xucf_course_path(@xucf_course) %> |
<%= link_to 'Back', xucf_courses_path %>
