<%= form_for(@xucf_teacher) do |f| %>
  <% if @xucf_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_teacher.errors.count, "error") %> prohibited this xucf_teacher from being saved:</h2>

      <ul>
      <% @xucf_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xcf_no %><br>
    <%= f.text_field :xcf_no %>
  </div>
  <div class="field">
    <%= f.label :xcf_name %><br>
    <%= f.text_field :xcf_name %>
  </div>
  <div class="field">
    <%= f.label :xucf_college_id %><br>
    <%= f.number_field :xucf_college_id %>
  </div>
  <div class="field">
    <%= f.label :xcf_gender %><br>
    <%= f.text_field :xcf_gender %>
  </div>
  <div class="field">
    <%= f.label :xcf_birthyear %><br>
    <%= f.text_field :xcf_birthyear %>
  </div>
  <div class="field">
    <%= f.label :xcf_title %><br>
    <%= f.text_field :xcf_title %>
  </div>
  <div class="field">
    <%= f.label :xcf_tel %><br>
    <%= f.text_field :xcf_tel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
