<p id="notice"><%= notice %></p>

<h1>Listing Xucf Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Xcf no</th>
      <th>Xcf name</th>
      <th>Xcf college</th>
      <th>Xcf gender</th>
      <th>Xcf birthyear</th>
      <th>Xcf title</th>
      <th>Xcf tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_teachers.each do |xucf_teacher| %>
      <tr>
        <td><%= xucf_teacher.xcf_no %></td>
        <td><%= xucf_teacher.xcf_name %></td>
        <td><%= xucf_teacher.xucf_college_id %></td>
        <td><%= xucf_teacher.xcf_gender %></td>
        <td><%= xucf_teacher.xcf_birthyear %></td>
        <td><%= xucf_teacher.xcf_title %></td>
        <td><%= xucf_teacher.xcf_tel %></td>
        <td><%= link_to 'Show', xucf_teacher %></td>
        <td><%= link_to 'Edit', edit_xucf_teacher_path(xucf_teacher) %></td>
        <td><%= link_to 'Destroy', xucf_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf teacher', new_xucf_teacher_path %>
