<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf no:</strong>
  <%= @xucf_teacher.xcf_no %>
</p>

<p>
  <strong>Xcf name:</strong>
  <%= @xucf_teacher.xcf_name %>
</p>

<p>
  <strong>Xcf college:</strong>
  <%= @xucf_teacher.xucf_college_id %>
</p>

<p>
  <strong>Xcf gender:</strong>
  <%= @xucf_teacher.xcf_gender %>
</p>

<p>
  <strong>Xcf birthyear:</strong>
  <%= @xucf_teacher.xcf_birthyear %>
</p>

<p>
  <strong>Xcf title:</strong>
  <%= @xucf_teacher.xcf_title %>
</p>

<p>
  <strong>Xcf tel:</strong>
  <%= @xucf_teacher.xcf_tel %>
</p>

<%= link_to 'Edit', edit_xucf_teacher_path(@xucf_teacher) %> |
<%= link_to 'Back', xucf_teachers_path %>
