<%= form_for(@xucf_report) do |f| %>
  <% if @xucf_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_report.errors.count, "error") %> prohibited this xucf_report from being saved:</h2>

      <ul>
      <% @xucf_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xucf_student_id %><br>
    <%= f.number_field :xucf_student_id %>
  </div>
  <div class="field">
    <%= f.label :xucf_course_id %><br>
    <%= f.number_field :xucf_course_id %>
  </div>
  <div class="field">
    <%= f.label :xcf_score %><br>
    <%= f.text_field :xcf_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
