<p id="notice"><%= notice %></p>

<h1>Listing Xucf Reports</h1>

<table>
  <thead>
    <tr>
      <th>Xcf student</th>
      <th>Xcf course</th>
      <th>Xcf score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_reports.each do |xucf_report| %>
      <tr>
        <td><%= xucf_report.xucf_student_id %></td>
        <td><%= xucf_report.xucf_course_id %></td>
        <td><%= xucf_report.xcf_score %></td>
        <td><%= link_to 'Show', xucf_report %></td>
        <td><%= link_to 'Edit', edit_xucf_report_path(xucf_report) %></td>
        <td><%= link_to 'Destroy', xucf_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf report', new_xucf_report_path %>
