<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf student:</strong>
  <%= @xucf_report.xucf_student_id %>
</p>

<p>
  <strong>Xcf course:</strong>
  <%= @xucf_report.xucf_course_id %>
</p>

<p>
  <strong>Xcf score:</strong>
  <%= @xucf_report.xcf_score %>
</p>

<%= link_to 'Edit', edit_xucf_report_path(@xucf_report) %> |
<%= link_to 'Back', xucf_reports_path %>
