<%= form_for(@xucf_class_course) do |f| %>
  <% if @xucf_class_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_class_course.errors.count, "error") %> prohibited this xucf_class_course from being saved:</h2>

      <ul>
      <% @xucf_class_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xucf_class_id %><br>
    <%= f.number_field :xucf_class_id %>
  </div>
  <div class="field">
    <%= f.label :xucf_course_id %><br>
    <%= f.number_field :xucf_course_id %>
  </div>
  <div class="field">
    <%= f.label :xucf_teacher_id %><br>
    <%= f.number_field :xucf_teacher_id %>
  </div>
  <div class="field">
    <%= f.label :xcf_term %><br>
    <%= f.text_field :xcf_term %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
