<p id="notice"><%= notice %></p>

<h1>Listing Xucf Class Courses</h1>

<table>
  <thead>
    <tr>
      <th>Xcf class</th>
      <th>Xcf course</th>
      <th>Xcf teacher</th>
      <th>Xcf term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_class_courses.each do |xucf_class_course| %>
      <tr>
        <td><%= xucf_class_course.xucf_class_id %></td>
        <td><%= xucf_class_course.xucf_course_id %></td>
        <td><%= xucf_class_course.xucf_teacher_id %></td>
        <td><%= xucf_class_course.xcf_term %></td>
        <td><%= link_to 'Show', xucf_class_course %></td>
        <td><%= link_to 'Edit', edit_xucf_class_course_path(xucf_class_course) %></td>
        <td><%= link_to 'Destroy', xucf_class_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf class course', new_xucf_class_course_path %>
