<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf class:</strong>
  <%= @xucf_class_course.xucf_class_id %>
</p>

<p>
  <strong>Xcf course:</strong>
  <%= @xucf_class_course.xucf_course_id %>
</p>

<p>
  <strong>Xcf teacher:</strong>
  <%= @xucf_class_course.xucf_teacher_id %>
</p>

<p>
  <strong>Xcf term:</strong>
  <%= @xucf_class_course.xcf_term %>
</p>

<%= link_to 'Edit', edit_xucf_class_course_path(@xucf_class_course) %> |
<%= link_to 'Back', xucf_class_courses_path %>
