<%= form_for(@xucf_major) do |f| %>
  <% if @xucf_major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_major.errors.count, "error") %> prohibited this xucf_major from being saved:</h2>

      <ul>
      <% @xucf_major.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xcf_name %><br>
    <%= f.text_field :xcf_name %>
  </div>
  <div class="field">
    <%= f.label :xucf_college_id %><br>
    <%= f.number_field :xucf_college_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
