<p id="notice"><%= notice %></p>

<h1>Listing Xucf Majors</h1>

<table>
  <thead>
    <tr>
      <th>Xcf name</th>
      <th>Xcf college</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_majors.each do |xucf_major| %>
      <tr>
        <td><%= xucf_major.xcf_name %></td>
        <td><%= xucf_major.xucf_college_id %></td>
        <td><%= link_to 'Show', xucf_major %></td>
        <td><%= link_to 'Edit', edit_xucf_major_path(xucf_major) %></td>
        <td><%= link_to 'Destroy', xucf_major, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf major', new_xucf_major_path %>
