<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf name:</strong>
  <%= @xucf_major.xcf_name %>
</p>

<p>
  <strong>Xcf college:</strong>
  <%= @xucf_major.xucf_college_id %>
</p>

<%= link_to 'Edit', edit_xucf_major_path(@xucf_major) %> |
<%= link_to 'Back', xucf_majors_path %>
