<%= form_for(@xucf_student, :url => xucf_class_xucf_student_path(@xucf_class, @xucf_student)) do |f| %>
  <% if @xucf_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_student.errors.count, "error") %> prohibited this xucf_student from being saved:</h2>

      <ul>
      <% @xucf_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xcf_no %><br>
    <%= f.text_field :xcf_no %>
  </div>
  <div class="field">
    <%= f.label :xcf_name %><br>
    <%= f.text_field :xcf_name %>
  </div>
  <div class="field">
    <%= f.label :xucf_class_id %><br>
    <%= f.number_field :xucf_class_id %>
  </div>
  <div class="field">
    <%= f.label :xcf_gender %><br>
    <%= f.text_field :xcf_gender %>
  </div>
  <div class="field">
    <%= f.label :xcf_birthyear %><br>
    <%= f.text_field :xcf_birthyear %>
  </div>
  <div class="field">
    <%= f.label :xcf_birthplace %><br>
    <%= f.text_field :xcf_birthplace %>
  </div>
  <div class="field">
    <%= f.label :xcf_credit %><br>
    <%= f.text_field :xcf_credit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
