<h1>Editing Xucf Student</h1>

<%= render 'form' %>

<%= link_to 'Show', xucf_class_xucf_student_path(@xucf_class, @xucf_student) %> |
<%= link_to 'Back', xucf_class_xucf_students_path(@xucf_class) %>
