<p id="notice"><%= notice %></p>

<h1>Listing Xucf Students</h1>

<table>
  <thead>
    <tr>
      <th>Xcf no</th>
      <th>Xcf name</th>
      <th>Xcf class</th>
      <th>Xcf gender</th>
      <th>Xcf birthyear</th>
      <th>Xcf birthplace</th>
      <th>Xcf credit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_students.each do |xucf_student| %>
      <tr>
        <td><%= xucf_student.xcf_no %></td>
        <td><%= xucf_student.xcf_name %></td>
        <td><%= xucf_student.xucf_class_id %></td>
        <td><%= xucf_student.xcf_gender %></td>
        <td><%= xucf_student.xcf_birthyear %></td>
        <td><%= xucf_student.xcf_birthplace %></td>
        <td><%= xucf_student.xcf_credit %></td>
        <td><%= link_to 'Show', xucf_class_xucf_student_path(@xucf_class, xucf_student) %></td>
        <td><%= link_to 'Edit', edit_xucf_class_xucf_student_path(@xucf_class, xucf_student) %></td>
        <td><%= link_to 'Destroy',  xucf_class_xucf_student_path(@xucf_class, xucf_student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf student', new_xucf_class_xucf_student_path(@xucf_class) %>
