<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf no:</strong>
  <%= @xucf_student.xcf_no %>
</p>

<p>
  <strong>Xcf name:</strong>
  <%= @xucf_student.xcf_name %>
</p>

<p>
  <strong>Xcf class:</strong>
  <%= @xucf_student.xucf_class_id %>
</p>

<p>
  <strong>Xcf gender:</strong>
  <%= @xucf_student.xcf_gender %>
</p>

<p>
  <strong>Xcf birthyear:</strong>
  <%= @xucf_student.xcf_birthyear %>
</p>

<p>
  <strong>Xcf birthplace:</strong>
  <%= @xucf_student.xcf_birthplace %>
</p>

<p>
  <strong>Xcf credit:</strong>
  <%= @xucf_student.xcf_credit %>
</p>

<%= link_to 'Edit', edit_xucf_class_xucf_student_path(@xucf_class, @xucf_student) %> |
<%= link_to 'Back', xucf_class_xucf_students_path(@xucf_class) %>
