<%= form_for(@xucf_class) do |f| %>
  <% if @xucf_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_class.errors.count, "error") %> prohibited this xucf_class from being saved:</h2>

      <ul>
      <% @xucf_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xcf_no %><br>
    <%= f.text_field :xcf_no %>
  </div>
  <div class="field">
    <%= f.label :xucf_major_id %><br>
    <%= f.number_field :xucf_major_id %>
  </div>
  <div class="field">
    <%= f.label :xcf_grade %><br>
    <%= f.text_field :xcf_grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
