<p id="notice"><%= notice %></p>

<h1>Listing Xucf Classes</h1>

<table>
  <thead>
    <tr>
      <th>Xcf no</th>
      <th>Xcf major</th>
      <th>Xcf grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_classes.each do |xucf_class| %>
      <tr>
        <td><%= xucf_class.xcf_no %></td>
        <td><%= xucf_class.xucf_major_id %></td>
        <td><%= xucf_class.xcf_grade %></td>
        <td><%= link_to 'Show', xucf_class %></td>
        <td><%= link_to 'Edit', edit_xucf_class_path(xucf_class) %></td>
        <td><%= link_to 'Destroy', xucf_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf class', new_xucf_class_path %>
