<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf no:</strong>
  <%= @xucf_class.xcf_no %>
</p>

<p>
  <strong>Xcf major:</strong>
  <%= @xucf_class.xucf_major_id %>
</p>

<p>
  <strong>Xcf grade:</strong>
  <%= @xucf_class.xcf_grade %>
</p>

<%= link_to 'Edit', edit_xucf_class_path(@xucf_class) %> |
<%= link_to 'Back', xucf_classes_path %>
