<%= form_for(@xucf_college) do |f| %>
  <% if @xucf_college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xucf_college.errors.count, "error") %> prohibited this xucf_college from being saved:</h2>

      <ul>
      <% @xucf_college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xcf_name %><br>
    <%= f.text_field :xcf_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
