<p id="notice"><%= notice %></p>

<h1>Listing Xucf Colleges</h1>

<table>
  <thead>
    <tr>
      <th>Xcf name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xucf_colleges.each do |xucf_college| %>
      <tr>
        <td><%= xucf_college.xcf_name %></td>
        <td><%= link_to 'Show', xucf_college %></td>
        <td><%= link_to 'Edit', edit_xucf_college_path(xucf_college) %></td>
        <td><%= link_to 'Destroy', xucf_college, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xucf college', new_xucf_college_path %>
