<p id="notice"><%= notice %></p>

<p>
  <strong>Xcf name:</strong>
  <%= @xucf_college.xcf_name %>
</p>

<%= link_to 'Edit', edit_xucf_college_path(@xucf_college) %> |
<%= link_to 'Back', xucf_colleges_path %>
